


<!DOCTYPE html>
<html>
  <head>
	
		
	<title>Photo Uploader</title>
		
	

	
		
    <!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	
	
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container" style="min-height:100% width:80%">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
	
	{% block body %}{% endblock %}
	</div>

  </head>

<style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }
         
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    </style>
  <body>
    
	<div class="container-fluid">
		<div class="row vertical-align">
			<div class="col-md-7 text-center">

					<div id="icw-header">
						<h1>Upload Your Photo</h1>
						<p>by Andrew</p>
					</div>
                
				<div id="center_content">


<form method="POST" action="/" enctype="multipart/form-data">
  <div class="form-group">
    <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile02" name="file">
    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
  </div>
    <small id="emailHelp" class="form-text text-muted">Make sure it's in portrait mode or it will be auto-cropped!</small>
  </div>

</div>

<div class="form-group">


<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Insert Caption</span>
  </div>
  <textarea class="form-control" aria-label="Insert Caption" name="caption"></textarea>
</div>
<br>
  <div class="input-group-prepend">
    <span class="input-group-text">Set Brightness</span>
  <input type="text" name="brightness" class="form-control" aria-label="Amount", value="100">
</div>
<small id="info" class="form-text text-muted">Smaller values darken, larger values lighten, 100 is no change. Use '50' for very dark and '250' for very bright</small>
  </div>

  <button type="submit" class="btn btn-primary" onclick="MyCustFunc()" id="submit">Upload to Preview</button>
</form>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script>
            $('#inputGroupFile02').on('change',function(){
                //get the file name
                var fileName = $(this).val().replace('C:\\fakepath\\'," ");
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            }); </script>
<script>
function MyCustFunc(){
$('#submit').text('Loading...');
 $(this).submit('loading').delay(8000).queue(function(){});}

        </script>

  </body>
</html>
